.Login {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0; */
}

.Login .loginPanel {
    padding: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.Login .loginPanel h2 {
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.Login .loginPanel .inputContainer {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.Login .loginPanel .inputContainer input {
    width: 100%;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

::placeholder {
    color: #ccc;
    opacity: 1; /* Firefox */
}

.Login .buttonsContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
}

.Login .buttonsContainer button {
    width: 48%;
    background-color: #66a9ff;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.Login .buttonsContainer .registerButton {
    background-color: #466fa3;
}

.Login .forgotPasswordContainer {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.5px;
}
