.Message {
    display: flex;
    align-items: center;
    max-width: 75%;
    min-width: 30%;
    margin: 6px 0;
    padding: 10px 15px 10px 20px;
    border-radius: 35px;
    text-align: left;
    justify-content: space-between;
    /* padding: 20px 10px 0 20px;
  margin: 20px 0;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center; */
}

.Message .imageContainer {
    display: flex;
}

.Message .imageContainer img {
    width: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.sender {
    border-top-right-radius: 10px;
    flex-direction: row-reverse;
    align-self: flex-end;
    background-color: #66a9ff;
    border: 1px solid #5598ee;
    /* margin-left: 40px;
  background-color: #66a9ff;
  color: white;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 10px;
  text-align: end;
  float: right; */
}

.reciever {
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    align-self: flex-start;
    padding: 10px 20px 10px 15px;
    /* margin-right: 40px;
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-top-left-radius: 1000px;
  float: left; */
}

.sender p {
    flex-grow: 1;
    margin-right: 10px;
}

.reciever p {
    flex-grow: 1;
    margin-left: 10px;
}
